<link rel = "stylesheet" href ="css/style.css">
<center>
<form method = "post" action = "login">Enter username and password
<input type = "text" name = "username">
<input type = "password" name = "password">
<input type = "submit" value = "login">
</form>
</center>

<center>
<form method = "post" action = "register"> Make an account :^)
<input type = "text" name = "new_user">
<input type = "text" name = "new_password">
<input type = "submit" value = "signup">
</form>
</center>