<DOCTYPE html>
<link rel = "stylesheet" href ="css/style.css">
<form method="post" action="handle_search">
    <input type = "text" name = "first_name">
    <input type = "text" name = "phone">
    <input type = "submit" value = "submit">
 </form> 
 <div id="display">
    <%= session[:search_table] %>
 </div>
 </html>